<section class="content">
  <div class="card">
    <h1>
      Real
      <span>Alignment to the expected script: {{similarity.achieved}}%</span>
    </h1>
    <table *ngIf="calls.activeTranscript$ | async as call" width="100%">
      <thead>
        <th>Time</th>
        <th>Speaker</th>
        <th>Sentence</th>
      </thead>
      <tbody>
        <tr *ngFor="let transcript of call.transcript">
          <td>{{getDuration(transcript) | date:'mm:ss'}}</td>
          <td>{{ getSpeakersName(transcript.channel, call) }}</td>
          <td>
            <div matTooltipClass="custom-tooltip" [matTooltip]="tooltipText" matTooltipPosition="above" (mouseover)="onHighlight(transcript, true)" (mouseout)="onHighlight(transcript, false)" [ngClass]="{
              'matching-script': isMatchingScript(transcript), 'text-highlight': (transcript.matching_sentence && transcript.matching_sentence === hoveredScript)
           }">
              {{ transcript.sentence }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card">
    <h1>
      Expected
      <span>Percent of script covered: {{similarity.expected}}%</span>
    </h1>
    <table *ngIf="calls.activeTranscript$ | async as call" width="100%">
      <thead>
        <th>Line</th>
        <th>Speaker</th>
        <th>Sentence</th>
      </thead>
      <tbody>
        <tr *ngFor="let expectedScript of call.script">
          <td>{{ expectedScript.order + 1}}</td>
          <td>Rep:</td>
          <td>
            <div [ngClass]="{
              'matching-script': isMatchingScript(expectedScript),
              'text-highlight': (expectedScript.sentence === hoveredScript)
           }">
              {{ expectedScript.sentence }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template>
  <div class="empty-state">
    No data to be displayed
  </div>
</ng-template>