.flex {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #efeff1;
  height: 56px;

  .selects {
    display: flex;
    gap: 1.5rem;

    label {
      margin-right: 0.5rem;
    }
  }
}
.callTime {
  width: 316px;
}
.slider-container {
  width: 666px;
}
.mat-slider {
  width: 438px;
}

:host ::ng-deep .custom-slider .mat-slider-thumb {
  background-color: #5A5A71;
}

:host ::ng-deep .custom-slider .mat-slider-thumb-label {
  background-color: #5A5A71;
}

:host ::ng-deep .custom-slider .mat-slider-track-fill {
  background-color: #5A5A71;
}
